body{
    margin:0;
    padding:0;
    font-family:Arial;
    background:#f5f5f5;
}

.cart-container{
    width:90%;
    margin:auto;
    padding:30px;
}

.cart-container h1{
    margin-bottom:30px;
}

.cart-card{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.cart-left{
    display:flex;
    align-items:center;
    gap:20px;
}

.cart-left img{
    width:120px;
    height:100px;
    object-fit:cover;
    border-radius:10px;
}

.cart-info h3{
    margin:0;
}

.cart-info p{
    color:green;
    font-weight:bold;
}

.remove-btn{
    background:red;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:8px;
    cursor:pointer;
}

.cart-summary{
    margin-top:30px;
    background:white;
    padding:20px;
    border-radius:12px;
}

.order-btn{
    background:black;
    color:white;
    padding:15px 20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    margin-top:15px;
}

